---
- name: restart apache
  become: yes
  service:
      name: apache2
      state: restarted

- name: restart mysql
  become: yes
  service:
      name: mysql
      state: restarted

- name: restart php
  become: yes
  service:
      name: php{{ php_version }}-fpm
      state: restarted
