[program:dynamodb]
command=java -Djava.library.path=/usr/local/lib/dynamodb/DynamoDBLocal_lib -jar /usr/local/lib/dynamodb/DynamoDBLocal.jar -sharedDb
priority=100
autostart=true
autorestart=true
user=vagrant
stdout_logfile=/var/log/supervisor/program_dynamodb.log
stderr_logfile=/var/log/supervisor/program_dynamodb.error
environment=PATH="/bin:/sbin:/usr/bin:/usr/sbin"
